<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lib_logger">

    <application>
        <activity
            android:name=".SettingAct"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.settingAct"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
